@media screen and (max-width: 1084px) {
  .height-control{
    height: 1000% !important;
  }
  
  .two-picture{
    position: relative !important; 
    left:0.01% !important;
    text-align: left !important; 
    width: 100% !important;
    padding: 4% !important;
    background: white !important;
    border: none !important;
    box-shadow: 5px 3px 3px #d5d5d5 !important;
    box-sizing: border-box !important;
    margin-bottom: 5px;
  }

  .space-control{
    margin-bottom: 8%;
  }

  #xbox-series{
    position: relative; 
    left: 1%; 
    bottom: 2px;
    padding: 5% 0%;
    text-align: left; 
    height: 100%;
    width: 100%;
    font-size: 16px;
  }

  #xbox-series > *{
    margin-bottom: 3%;
  }

  #foot-left a{
    margin-left:2%;
    font-size: 12px;
  }
  
  #foot-left img{
    width:3%;
    margin-right:2%;
  }
  
  #foot-right{
    margin-top: 3%;
    margin-bottom:2%;
    text-align: left;
    font-size: 12px;
  }

  .picture-position{
    text-align: center;
    width: 100%;
    height: auto;
  }

  .picture-position img{
   width: 100%;
   height: 100%;
  }

  #xbox-series{
    position: relative; 
    bottom: 40px;
    padding: 5% 5%;
    text-align: left; 
    height: 100%;
    width: 98%;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgb(218, 217, 217);
    background-color: white;
  }

  /* 导航栏设置 */
   nav{
    display:flex;
    padding: 30px 0;
  }

  #hamitems{
    display: none;
  }

  #hamitems-mobile a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 52px;
    border-top: 1px solid rgb(185, 183, 183);
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 1 rem;
  }

  #hamnav label {
    display: inline-block;
    color: black;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    order: 0;
  }

  #hamitems-mobile { 
    display: none;
    position:absolute;
    background-color: rgb(229, 229, 229);
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    top:60px;
    z-index: 999;
   }

  #hamnav input:checked ~ #hamitems-mobile { 
    display: block; 
  }

  /* 关闭图标效果 */
  .menu-icon {
    font-size: 25px;
    max-width: 45px;
    text-align: center;
    display: block;
    margin: 15% auto;
    cursor: pointer;
    transition: transform .2s ease;
  }
  .menu-icon:hover {
    transform: scale(0.9);
  }
  .menu-icon:before, .menu-icon:after {
    line-height: .5;
  }
  .menu-icon:before {
    content: '☰';
    display: block;
  }
  .menu-icon:after {
    content: '╳';
    font-size: 25px;
    font-weight: 800;
    display: none;
  }
  #toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon {
    transform: rotate(180deg);
  }
  #toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon:before {
    display: none;
  }
  #toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon:after {
    display: block;
  }


  #all-microsoft{
    display:none;
  }

  #search{
    order:1;
    flex: 1;
  }
  
  #icon{
    order: 2;
    text-align: center;
    flex: 15;
  }

  #icon img{
    width: 110px;
  }

  #cart{
    order: 3;
    flex: 1;
  }

  #avater{
    order: 4;
    flex: 2;
  }

  #accordionFlushExample button{
    background-color:rgb(229, 229, 229);
    border-radius: 0;
    box-shadow: none;
  }

  #accordionFlushExample button:focus{
    color: black;
  }

  .accordion-item{
    border-bottom: 0.1vh solid rgb(185, 183, 183) !important;
  }

  .accordion-item h2{
    height: 52px;
  }

  /* 底栏 */
  #bottom, #ts-cs {
    display: block;
    text-align: left;
  }
  #ts-cs{
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    white-space: normal;
  }
  #ts-cs a, #ts-cs p {
    display: inline-block;
  }
  #ts-cs a:first-child {
    padding-right: 0;
  }

  #hamitems-pad{
    display: none;
  }

  #cancel-button{
    display: none;
  }

  #arrow-left{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
  }

  #search-box{
    margin: 0;
    justify-content: center;
  }

  #search-box a{
    display: none !important;
  }

}

/* More效果 */
@media screen and (min-width: 1085px) and (max-width:1200px){
  #hamitems{
    display: none;
  }

  #hamitems-pad{
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5%;
    margin-left: -7%;
    order: 1;
  }

  #hamitems-pad a {
    padding: 10px;
    color: rgb(73, 73, 73);
    text-decoration: none;
    text-align: left;
    font-size: 14px;
  }
  
  #hamitems-pad a:hover{
    text-decoration: underline;
  }

  #pad-button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgb(73, 73, 73);
    font-size: 15px;
    padding-top: 10px;
    font-weight: 376;
  }

  #pad-button:hover{
    text-decoration: underline;
  }

  #pad-menu{
    background-color: #f2f2f2;
    width: 200px;
    border-radius: 0%;
    border-bottom-width:2px;
    border-bottom-style:solid;
    border-bottom-color:black;
  }

}