body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color:black;
  font-size: 16px;
  line-height: 1.5;
}

a{
  color:black;
  text-decoration: none;
}


ul{
  list-style: none;
  margin:0;
  padding: 0;
  list-style-position:inside
}

#main{
  padding: 0px 20px;
}

#follow-microsoft img{
  width: 4%;
  margin: 5px;
}

#follow-microsoft a:active{
  border: dotted blue;
}

#back-top{
  position: sticky;
  left:90%;
  bottom:5%;
  margin-bottom: 5%;
  background-color: rgb(215, 215, 215);
  border: none;
  border-radius: 0;
  color: black;
  font-weight:500;
  height: 40px;
  width: 120px;
}

#back-top:focus{
  box-shadow: none;
}

.two-picture{
  position: absolute !important; 
  left: 8% !important; 
  top: 30% !important; 
  text-align: left !important; 
  height: 100% !important;
  width: 30% !important;
  font-size: 20px !important;;
}

#xbox-series{
  position: relative; 
  left: 8%; 
  bottom: 400px;
  text-align: left; 
  height: 100%;
  width: 40%;
  font-size: 20px;
}

#xbox-series > *{
  margin-bottom: 6%;
}

.space-control{
  margin-bottom: 5%;
}

/* 导航栏 */
nav{
  display: flex;
  padding:0 80px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  max-width: 1600px;
  margin: 0 auto;
}

nav img{
  width: 50%;
}

#hamitems {  
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5%;
  margin-left: -7%;
  order: 1;
}

#hamitems a {
  padding: 10px;
  color: rgb(73, 73, 73);
  text-decoration: none;
  text-align: left;
  font-size: 14px;
}

#hamitems a:hover{
  text-decoration: underline;
}

#hamitems-mobile{
  display: none;
}

#hamnav label, #hamburger { 
  display: none; 
}

.navbar-nav a{
  color: rgb(73, 73, 73) !important;
}

#icon{
  order: 0;
}

#all-microsoft{
  order: 2;
  margin-left: auto;
  display:table-cell; 
  vertical-align:middle; 
}

.all-microsoft-menu {
  display: none;
}
.all-microsoft-menu .row {
  padding: 20px 35px 0 25px !important;
}
.all-microsoft-menu a {
  color: #262626;
  text-decoration: none;
  display: block;
  margin-bottom: 30px;
  font-size: 15px !important;
}
.all-microsoft-menu a:hover {
  text-decoration: underline;
  color: #262626;
}
.all-microsoft-menu p {
  margin-bottom: 25px;
}
.dropdown {
  font-size: 14px;
}
#dropdwn-menu:checked ~ .all-microsoft-menu {
  display: block;
  position: absolute;
  width: 95vw;
  top: 50px !important;
  left: 2vw !important;
  z-index: 999;
  background-color: #f2f2f2 !important;
  padding: 0 !important;
}

.nav-link {
  color: black !important;
  font-size: 14px !important;
}
.nav-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

#site-map {
  height: 40px;
  text-align: center;
  padding-top: 6px;
  background-color: #e6e6e6;
  border-bottom-width:2px;
  border-bottom-style:solid;
  border-bottom-color:black;
}

#avater{
  order:5;
  padding-left: 30px;
}

#avater i{
  font-size: 30px;
}

#search{
  order: 3;
  margin: 0px 20px;
}

#search i{
  font-size: 20px;
}

#search-box{
  display: none;
  max-width: 1600px;
  margin: 0 auto; 
  height: 52px;
  justify-content:center;
  align-items: center;
}

#search-box a{
  display: block !important;
  width: 120px;
  margin-right: 50px;
}

#search-box img{
  width: 100%;
  height: 100%;
}

#search-box input{
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;
  width: 900px;
  height: 35px;
  margin-right: 10px;
}

#search-box button{
  height: 35px;
  width: 80px;
  background-color: white;
  border-width: 1px;
}

#arrow-left{
  display: none;
}

#cart{
  order:4;
}

#cart i{
  font-size: 20px;
}

.red-bar{
  height:70px;
  font-weight:bold; 
  display:inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

#slide-right:hover span{
  margin-right: 5px;
  transition: 0.5s;
  text-decoration: underline;
  text-decoration-color: #950c17;
}

/* 底栏 */
#bottom-page{
  line-height:2.5;
  padding: 35px 33px;
}

#bottom-page a{
  color: #616161;
}

#bottom-page a:hover {
  text-decoration:underline;
}

#bottom-page h6{
  color: #616161;
}

#bottom {
  display: flex;
  font-size: 14px;
  margin-bottom: -30px;
}

#lang {
  width: 200px;
}

#ts-cs {
  width: 80%;
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
}

#ts-cs span, #ts-cs p {
  padding-right: 20px;
  display: inline-block;
  color: #616161;
}

#hamitems-pad{
  display: none;
}
